
body{
  width: 1920px;
  height:1080px;
  overflow: hidden;
  background: url('../assets/bg_fhd.jpg');
  margin: 0px;
  font-family : 'Roboto', serif;
}
.featuredRowParent{
  position: relative;
  height: 550px;
  top: 30px;
}
.overhang{
  content: url('../assets/overhang_fhd.jpg');
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.rowTitle{

  position: relative;
  left: 120px;
  bottom: 10px;
  color: #333333;
  font-size: 32px;
  font-weight: bold;
}
.duration{
  opacity: 1;
color: white;
position: relative;
top: -65px;
left: 295px;
background: rgba(0, 0, 0, 0.4);
width: 100px;
text-align: center;
z-index: 1000;
font-size: 26px;
height: 42px;
line-height: 42px;
}
.label{
  position: absolute;
    font-size: 26px;
    line-height: 30px;
    color: #333333;
    width: 398px;
    top: 240px;
}
.sbDescription{
  position: relative;
  top:20px;
  font-size: 26px;
  line-height: 30px;
  color: #333333;

}
.overlay{
  background: #000000;
  height: 75px;
  position: relative;
  top: -95px;
  width: 825px;
  opacity: 0.7;
}
.overlayText{
  color: white;
  position: relative;

  font: 34px bold;
  top: -150px;
  left: 20px;
}
.gridRow1> div, .gridRow2 > div , .gridRow3 > div  {
  position: relative;
  height: 300px;

  float: left;
}
.seriesSpringboardRow0 > div{
  position: relative;
  height: 350px;
  width: 420px;
  float: left;
}
.seriesSpringboardParent{
  color: #a5a5a5;
  font-size: 24px;
  position: relative;
  top: 450px;
  width: 1660px;
  overflow: hidden;
  transform: translate3d(120px,0px,0px);
}
/*.seriesSpringboardRow0 > div:nth-child(odd):not(:first-child){

    width: 1660px;
    overflow: hidden;
    transform: translate3d(100px,0px,0px);

}*/

.featuredRow0 > div{
  position: relative;
  height: 500px;
  float: left;
}


.rowArrowLeft{
  position: relative;
  top: 120px;
  width: 40px;
  left: -10px;
  height: 40px;
  content: url('../assets/icon_40_arrowleft_fhd.png');
}

.rowArrowRight{
  position: relative;
top: 120px;
width: 40px;
height: 40px;
content: url('../assets/icon_40_arrowright_fhd.png');
left: 1700px;
}


.landingPage{
    overflow: hidden;
    position: relative;
    z-index: 0;
}
/*.app-container > div:not(:first-child) {*/
.landingPage > div:nth-child(odd):not(:first-child){

    width: 1660px;
    overflow: hidden;
    transform: translate3d(125px,0px,0px);

}
/*.gridRow0, .gridRow1, .gridRow2{
  width: 1660px;
  overflow: hidden;
  transform: translate3d(100px,0px,0px);
}*/
/*.landingPage > div:nth-child(even){
  /*width: 1660px;
  overflow: hidden;
  transform: translate3d(100px,0px,0px);*/
}*/


/*.landingPage > div:first-child > img {


}*/
.gridRow {
    width: 0px;
    overflow: hidden;
}

/*.gridRow > img {


}*/
