
body{
  width: 1920px;
  height:1080px;
  overflow: hidden;
}
.app-container{
    overflow: hidden;
}
.app-container > div:first-child {
    width: 0px;
    overflow: hidden;
}

.app-container > div:first-child > img {


}
.gridRow {
    width: 0px;

    overflow: hidden;
}

.gridRow > img {


}
